In [6]:
pip install reverse_geocoder

Collecting reverse_geocoder
  Downloading reverse_geocoder-1.5.1.tar.gz (2.2 MB)
     ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
     - -------------------------------------- 0.1/2.2 MB 2.6 MB/s eta 0:00:01
     -- ------------------------------------- 0.1/2.2 MB 1.3 MB/s eta 0:00:02
     ---- ----------------------------------- 0.2/2.2 MB 2.1 MB/s eta 0:00:01
     ----- ---------------------------------- 0.3/2.2 MB 1.8 MB/s eta 0:00:02
     -------- ------------------------------- 0.5/2.2 MB 2.4 MB/s eta 0:00:01
     ----------- ---------------------------- 0.7/2.2 MB 2.5 MB/s eta 0:00:01
     --------------- ------------------------ 0.9/2.2 MB 2.7 MB/s eta 0:00:01
     --------------- ------------------------ 0.9/2.2 MB 2.7 MB/s eta 0:00:01
     ----------------- ---------------------- 1.0/2.2 MB 2.4 MB/s eta 0:00:01
     -------------------- ------------------- 1.2/2.2 MB 2.5 MB/s eta 0:00:01
     ----------------------- ---------------- 1.3/2.2 MB 2.6 MB/s eta 0:00:01
     -------------------------- ------------- 1.5/2.2 MB 2.6 MB/s eta 0:00:01
     ---------------------------- ----------- 1.6/2.2 MB 2.7 MB/s eta 0:00:01
     --------------------------------- ------ 1.9/2.2 MB 2.8 MB/s eta 0:00:01
     ----------------------------------- ---- 2.0/2.2 MB 2.8 MB/s eta 0:00:01
     ------------------------------------- -- 2.1/2.2 MB 2.8 MB/s eta 0:00:01
     -------------------------------------- - 2.2/2.2 MB 2.8 MB/s eta 0:00:01
     ---------------------------------------  2.2/2.2 MB 2.7 MB/s eta 0:00:01
     ---------------------------------------- 2.2/2.2 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.11.0 in c:\users\hp\anaconda3\lib\site-packages (from reverse_geocoder) (1.26.4)
Requirement already satisfied: scipy>=0.17.1 in c:\users\hp\anaconda3\lib\site-packages (from reverse_geocoder) (1.13.1)
Building wheels for collected packages: reverse_geocoder
  Building wheel for reverse_geocoder (setup.py): started
  Building wheel for reverse_geocoder (setup.py): finished with status 'done'
  Created wheel for reverse_geocoder: filename=reverse_geocoder-1.5.1-py3-none-any.whl size=2268077 sha256=c4391dee6151ccbb9e8405be074600fb4962f9c914290eb272e40d00fc2c06e0
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\17\3c\41\2bc89719586c2a5c53e9a527daa76a968a1288315c1ae2d904
Successfully built reverse_geocoder
Installing collected packages: reverse_geocoder
Successfully installed reverse_geocoder-1.5.1
Note: you may need to restart the kernel to use updated packages.

In [62]:
# Librairies import
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import reverse_geocoder as rg
from sklearn.preprocessing import StandardScaler

In [55]:
# Dataset Import
df = pd.read_csv("weather_data_cleaned.csv")
df

,time,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m,weather_code,latitude,longitude
0,2025-05-30 23:00:00,25.300000,52.000000,0.000000,2.100000,1.0,45.7640,4.8357
1,2025-05-30 23:00:00,19.800000,82.000000,0.000000,6.300000,0.0,43.2965,5.3698
2,2025-05-30 23:00:00,27.000000,45.000000,0.000000,1.800000,3.0,48.8566,2.3522
3,2025-05-30 23:00:00,23.200000,70.000000,0.000000,7.900000,3.0,44.8378,-0.5792
4,2025-05-30 22:00:00,27.900000,41.000000,0.000000,2.200000,2.0,48.8566,2.3522
...,...,...,...,...,...,...,...,...
8923,2025-02-25 01:00:00,9.703744,73.380036,0.083272,9.087680,3.0,44.8378,-0.5792
8924,2025-02-25 00:00:00,10.279222,77.277114,0.152617,8.375734,3.0,45.7640,4.8357
8925,2025-02-25 00:00:00,8.240419,63.980291,0.095637,13.179103,0.0,43.2965,5.3698
8926,2025-02-25 00:00:00,9.976791,72.542637,0.083271,9.152675,3.0,44.8378,-0.5792
8927,2025-02-25 00:00:00,13.545511,61.452001,0.076707,9.310219,3.0,48.8566,2.3522

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8928 entries, 0 to 8927
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  8928 non-null   object
 1   temperature_2m        8928 non-null   float64
 2   relative_humidity_2m  8928 non-null   float64
 3   precipitation         8928 non-null   float64
 4   wind_speed_10m        8928 non-null   float64
 5   weather_code          8928 non-null   float64
 6   latitude              8928 non-null   float64
 7   longitude             8928 non-null   float64
dtypes: float64(7), object(1)
memory usage: 558.1+ KB

In [57]:
# Converting column "time" into datetime format and "weather_code" into category
df["time"] = pd.to_datetime(df["time"], format="%Y-%m-%d %H:%M:%S")
df["weather_code"] = df["weather_code"].astype("category")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8928 entries, 0 to 8927
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  8928 non-null   datetime64[ns]
 1   temperature_2m        8928 non-null   float64
 2   relative_humidity_2m  8928 non-null   float64
 3   precipitation         8928 non-null   float64
 4   wind_speed_10m        8928 non-null   float64
 5   weather_code          8928 non-null   category
 6   latitude              8928 non-null   float64
 7   longitude             8928 non-null   float64
dtypes: category(1), datetime64[ns](1), float64(6)
memory usage: 497.8 KB

## Creating location column

In [18]:
# Extracting locations
locs = df[["latitude", "longitude"]].drop_duplicates().values
locs

array([[45.764 ,  4.8357],
       [43.2965,  5.3698],
       [48.8566,  2.3522],
       [44.8378, -0.5792]])

In [19]:
# Perform reverse geocoding
coordinates = [(lat, lon) for lat, lon in locs]
results = rg.search(coordinates)
results

[{'lat': '45.74846',
  'lon': '4.84671',
  'name': 'Lyon',
  'admin1': 'Rhone-Alpes',
  'admin2': 'Departement du Rhone',
  'cc': 'FR'},
 {'lat': '43.29664',
  'lon': '5.37034',
  'name': 'Marseille 02',
  'admin1': "Provence-Alpes-Cote d'Azur",
  'admin2': 'Departement des Bouches-du-Rhone',
  'cc': 'FR'},
 {'lat': '48.85341',
  'lon': '2.3488',
  'name': 'Paris',
  'admin1': 'Ile-de-France',
  'admin2': 'Paris',
  'cc': 'FR'},
 {'lat': '44.84044',
  'lon': '-0.5805',
  'name': 'Bordeaux',
  'admin1': 'Aquitaine',
  'admin2': 'Departement de la Gironde',
  'cc': 'FR'}]

In [20]:
# Create DataFrame with location data
location_data = [
    {
        "latitude": lat,
        "longitude": lon,
        "location": f"{res['name']}"
    }
    for (lat, lon), res in zip(locs, results)
]
location_df = pd.DataFrame(location_data)
location_df

   latitude  longitude      location
0   45.7640     4.8357          Lyon
1   43.2965     5.3698  Marseille 02
2   48.8566     2.3522         Paris
3   44.8378    -0.5792      Bordeaux

In [24]:
# Merge with the original DataFrame (df_all_imputed)
df_with_locations = df.merge(
    location_df,
    on=["latitude", "longitude"],
    how="left"
)
# Converting column "time" into datetime format,"weather_code" and "location" into category
df_with_locations["time"] = pd.to_datetime(df_with_locations["time"], format="%Y-%m-%d %H:%M:%S")
df_with_locations["weather_code"] = df_with_locations["weather_code"].astype("category")
df_with_locations["location"] = df_with_locations["location"].astype("category")

df_with_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8928 entries, 0 to 8927
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  8928 non-null   datetime64[ns]
 1   temperature_2m        8928 non-null   float64
 2   relative_humidity_2m  8928 non-null   float64
 3   precipitation         8928 non-null   float64
 4   wind_speed_10m        8928 non-null   float64
 5   weather_code          8928 non-null   category
 6   latitude              8928 non-null   float64
 7   longitude             8928 non-null   float64
 8   location              8928 non-null   category
dtypes: category(2), datetime64[ns](1), float64(6)
memory usage: 506.7 KB

In [25]:
df_with_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8928 entries, 0 to 8927
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  8928 non-null   datetime64[ns]
 1   temperature_2m        8928 non-null   float64
 2   relative_humidity_2m  8928 non-null   float64
 3   precipitation         8928 non-null   float64
 4   wind_speed_10m        8928 non-null   float64
 5   weather_code          8928 non-null   category
 6   latitude              8928 non-null   float64
 7   longitude             8928 non-null   float64
 8   location              8928 non-null   category
dtypes: category(2), datetime64[ns](1), float64(6)
memory usage: 506.7 KB

## Time-of-Day Aggregation

In [47]:
def transform(X):
        X_cop = X.copy()
        # Define time-of-day bins
        bins = [0, 6, 12, 18, 24]
        labels = ['Night', 'Morning', 'Afternoon', 'Evening']
        X_cop['time_of_day'] = pd.cut(X_cop['time'].dt.hour, bins=bins, labels=labels, right=False, include_lowest=True)
        X_cop['date'] = X_cop['time'].dt.date
        agg_dict = {
            'temperature_2m': 'mean',
            'relative_humidity_2m': 'mean',
            'precipitation': 'mean',
            'wind_speed_10m': 'mean',
            'weather_code': lambda x: x.mode()[0],
            'location': 'first'  # Preserve location as category
        }
        # Perform aggregation and reset index
        result = X_cop.groupby(['latitude', 'longitude', 'date', 'time_of_day'], observed = True).agg(agg_dict).reset_index()
        # Ensure dtypes are preserved
        result['time_of_day'] = result['time_of_day'].astype('category')
        result['weather_code'] = result['weather_code'].astype('category')
        result['location'] = result['location'].astype('category')
        return result

In [48]:
df_TimeOfDay = transform(df_with_locations)
df_TimeOfDay

,latitude,longitude,date,time_of_day,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m,weather_code,location
0,43.2965,5.3698,2025-02-25,Night,7.744921,64.172454,0.095637,13.196819,0.0,Marseille 02
1,43.2965,5.3698,2025-02-25,Morning,6.969936,65.457459,0.095637,13.223003,0.0,Marseille 02
2,43.2965,5.3698,2025-02-25,Afternoon,7.713653,65.794979,0.095637,13.193638,0.0,Marseille 02
3,43.2965,5.3698,2025-02-25,Evening,8.587254,64.394890,0.095637,13.163111,0.0,Marseille 02
4,43.2965,5.3698,2025-02-26,Night,7.798253,64.112844,0.095637,13.194783,0.0,Marseille 02
...,...,...,...,...,...,...,...,...,...,...
1483,48.8566,2.3522,2025-05-29,Evening,23.700000,49.500000,0.000000,8.416667,0.0,Paris
1484,48.8566,2.3522,2025-05-30,Night,18.266667,78.666667,0.000000,2.200000,0.0,Paris
1485,48.8566,2.3522,2025-05-30,Morning,18.466667,76.333333,0.000000,3.950000,0.0,Paris
1486,48.8566,2.3522,2025-05-30,Afternoon,27.800000,44.166667,0.000000,6.600000,0.0,Paris
1487,48.8566,2.3522,2025-05-30,Evening,29.166667,37.666667,0.000000,6.283333,1.0,Paris

## Creating columns "heat_index" and "is_raining"

In [54]:
# fonction qui calcule une nouvelle colonne "heat_index"
def calculate_heat_index(row):
    T = row['temperature_2m']
    RH = row['relative_humidity_2m']
    if T >= 20:
        return T + 0.33 * RH - 0.7
    return T

In [58]:
df_TimeOfDay['heat_index'] = df_TimeOfDay.apply(calculate_heat_index, axis=1)
df_TimeOfDay

,latitude,longitude,date,time_of_day,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m,weather_code,location,heat_index
0,43.2965,5.3698,2025-02-25,Night,7.744921,64.172454,0.095637,13.196819,0.0,Marseille 02,7.744921
1,43.2965,5.3698,2025-02-25,Morning,6.969936,65.457459,0.095637,13.223003,0.0,Marseille 02,6.969936
2,43.2965,5.3698,2025-02-25,Afternoon,7.713653,65.794979,0.095637,13.193638,0.0,Marseille 02,7.713653
3,43.2965,5.3698,2025-02-25,Evening,8.587254,64.394890,0.095637,13.163111,0.0,Marseille 02,8.587254
4,43.2965,5.3698,2025-02-26,Night,7.798253,64.112844,0.095637,13.194783,0.0,Marseille 02,7.798253
...,...,...,...,...,...,...,...,...,...,...,...
1483,48.8566,2.3522,2025-05-29,Evening,23.700000,49.500000,0.000000,8.416667,0.0,Paris,39.335000
1484,48.8566,2.3522,2025-05-30,Night,18.266667,78.666667,0.000000,2.200000,0.0,Paris,18.266667
1485,48.8566,2.3522,2025-05-30,Morning,18.466667,76.333333,0.000000,3.950000,0.0,Paris,18.466667
1486,48.8566,2.3522,2025-05-30,Afternoon,27.800000,44.166667,0.000000,6.600000,0.0,Paris,41.675000
1487,48.8566,2.3522,2025-05-30,Evening,29.166667,37.666667,0.000000,6.283333,1.0,Paris,40.896667

In [59]:
# crÃ©ation d'une nouvelle colonne "is_raining"
df_TimeOfDay['is_raining'] = (df_TimeOfDay['precipitation'] > 0).astype(int)
df_TimeOfDay

,latitude,longitude,date,time_of_day,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m,weather_code,location,heat_index,is_raining
0,43.2965,5.3698,2025-02-25,Night,7.744921,64.172454,0.095637,13.196819,0.0,Marseille 02,7.744921,1
1,43.2965,5.3698,2025-02-25,Morning,6.969936,65.457459,0.095637,13.223003,0.0,Marseille 02,6.969936,1
2,43.2965,5.3698,2025-02-25,Afternoon,7.713653,65.794979,0.095637,13.193638,0.0,Marseille 02,7.713653,1
3,43.2965,5.3698,2025-02-25,Evening,8.587254,64.394890,0.095637,13.163111,0.0,Marseille 02,8.587254,1
4,43.2965,5.3698,2025-02-26,Night,7.798253,64.112844,0.095637,13.194783,0.0,Marseille 02,7.798253,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1483,48.8566,2.3522,2025-05-29,Evening,23.700000,49.500000,0.000000,8.416667,0.0,Paris,39.335000,0
1484,48.8566,2.3522,2025-05-30,Night,18.266667,78.666667,0.000000,2.200000,0.0,Paris,18.266667,0
1485,48.8566,2.3522,2025-05-30,Morning,18.466667,76.333333,0.000000,3.950000,0.0,Paris,18.466667,0
1486,48.8566,2.3522,2025-05-30,Afternoon,27.800000,44.166667,0.000000,6.600000,0.0,Paris,41.675000,0
1487,48.8566,2.3522,2025-05-30,Evening,29.166667,37.666667,0.000000,6.283333,1.0,Paris,40.896667,0

## Data Normalization

In [60]:
columns_to_normalize = ['temperature_2m', 'relative_humidity_2m', 'precipitation', 'wind_speed_10m', 'heat_index']

In [61]:
def normalize_data(X, columns_to_normalize):
    """
    Normalise les colonnes spÃ©cifiÃ©es avec StandardScaler (Z-score).
    
    Parameters:
    - X: DataFrame pandas
    - columns_to_normalize: Liste des colonnes Ã  normaliser
    
    Returns:
    - DataFrame avec les colonnes normalisÃ©es
    """
    X = X.copy()
    scaler = StandardScaler()
    
    # VÃ©rifier que les colonnes existent
    missing_cols = [col for col in columns_to_normalize if col not in X.columns]
    if missing_cols:
        raise ValueError(f"Colonnes manquantes : {missing_cols}")
    
    print("\nAvant normalisation :")
    print(X[columns_to_normalize].describe())
    
    # Appliquer la normalisation
    X[columns_to_normalize] = scaler.fit_transform(X[columns_to_normalize])
    
    print("\nAprÃ¨s normalisation :")
    print(X[columns_to_normalize].describe())
    
    return X

In [63]:
df_normalized = normalize_data(df_TimeOfDay, columns_to_normalize)

Avant normalisation :
       temperature_2m  relative_humidity_2m  precipitation  wind_speed_10m  \
count     1488.000000           1488.000000    1488.000000     1488.000000
mean        14.190327             63.883096       0.070558       10.283689
std          4.812796             15.523766       0.294679        5.367584
min          2.066667             23.500000       0.000000        0.783333
25%         10.420833             52.500000       0.000000        6.600000
50%         14.116667             65.324699       0.000000        9.416935
75%         17.375000             76.000000       0.076657       13.068990
max         31.850000             98.000000       6.466667       41.766667

        heat_index
count  1488.000000
mean     15.902263
std       8.572457
min       2.066667
25%      10.420833
50%      14.116667
75%      17.375000
max      44.563333

AprÃ¨s normalisation :
       temperature_2m  relative_humidity_2m  precipitation  wind_speed_10m  \
count    1.488000e+03          1.488000e+03   1.488000e+03     1488.000000
mean     4.966159e-16         -2.865092e-17   3.103849e-17        0.000000
std      1.000336e+00          1.000336e+00   1.000336e+00        1.000336
min     -2.519894e+00         -2.602247e+00  -2.395206e-01       -1.770545
25%     -7.834865e-01         -7.335155e-01  -2.395206e-01       -0.686515
50%     -1.531025e-02          9.289547e-02  -2.395206e-01       -0.161533
75%      6.619320e-01          7.808013e-01   2.070575e-02        0.519086
max      3.670550e+00          2.198460e+00   2.171268e+01        5.867363

         heat_index
count  1.488000e+03
mean   1.623552e-16
std    1.000336e+00
min   -1.614502e+00
25%   -6.396383e-01
50%   -2.083646e-01
75%    1.718565e-01
max    3.344515e+00

In [64]:
df_normalized

,latitude,longitude,date,time_of_day,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m,weather_code,location,heat_index,is_raining
0,43.2965,5.3698,2025-02-25,Night,-1.339673,0.018646,0.085135,0.542909,0.0,Marseille 02,-0.951896,1
1,43.2965,5.3698,2025-02-25,Morning,-1.500753,0.101450,0.085135,0.547789,0.0,Marseille 02,-1.042330,1
2,43.2965,5.3698,2025-02-25,Afternoon,-1.346172,0.123200,0.085135,0.542316,0.0,Marseille 02,-0.955544,1
3,43.2965,5.3698,2025-02-25,Evening,-1.164595,0.032979,0.085135,0.536627,0.0,Marseille 02,-0.853602,1
4,43.2965,5.3698,2025-02-26,Night,-1.328588,0.014805,0.085135,0.542530,0.0,Marseille 02,-0.945672,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1483,48.8566,2.3522,2025-05-29,Evening,1.976579,-0.926833,-0.239521,-0.347950,0.0,Paris,2.734410,0
1484,48.8566,2.3522,2025-05-30,Night,0.847264,0.952639,-0.239521,-1.506526,0.0,Paris,0.275907,0
1485,48.8566,2.3522,2025-05-30,Morning,0.888834,0.802281,-0.239521,-1.180385,0.0,Paris,0.299245,0
1486,48.8566,2.3522,2025-05-30,Afternoon,2.828761,-1.270507,-0.239521,-0.686515,0.0,Paris,3.007469,0
1487,48.8566,2.3522,2025-05-30,Evening,3.112821,-1.689361,-0.239521,-0.745531,1.0,Paris,2.916644,0

In [65]:
# Saving Transformed Dataset into csv format
df_normalized.to_csv("weather_data_transformed.csv", index = False)